<h1>Listing films</h1>

<table id="filmList">
  <tr>
    <th>Name</th>
    <th>Genre</th>
    <th>Director</th>
    <th>Duration</th>
    <th>Main Actor</th>
  </tr>

<% @films.each do |film| %>
  <tr>
    <td><%= film.Title %></td>
    <td><%= film.Genre %></td>
    <td><%= film.Director %></td>
    <td><%= film.Duration %></td>
    <td><%= film.Actor %></td>
 
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Film', new_film_path %>
