<%= link_to image_tag("reel.png", alt: "Reel") %>
<h1><%= @film.Title %></h1>
<br />
<p>
	<table>
		<tr>
			<td><b>Genre: </b><%= @film.Genre %> </td>
			<td><b>Duration: </b><%= @film.Duration %> </td>
			<td><b>Director: </b><%= @film.Director %> </td>
			<td><b>Main Actor: </b><%= @film.Actor %> </td>
		</tr>
	</table>
</p>